<div class="sidebar" [class.collapsed]="isCollapsed">
  <div class="sidebar-option first" (click)="toggleSidebar()">
    <span class="action-button-text">Collapse</span>
    <div class="action-button" id="draw-sidebar-icon"></div>
  </div>
  <div class="sidebar-option" routerLink="/dashboard">
    <span class="action-button-text">Dashboard</span>
    <div class="action-button" id="home-icon"></div>
  </div>
  <div class="sidebar-option">
    <span class="action-button-text">Wondertrips</span>
    <div class="action-button" id="trending-icon"></div>
  </div>
  <div class="sidebar-option">
    <span class="action-button-text">Your Trips</span>
    <div class="action-button" id="your-trips-icon"></div>
  </div>
  <div class="sidebar-option" routerLink="/create-trip">
    <span class="action-button-text">Create a Trip</span>
    <div class="action-button" id="create-trip-icon"></div>
  </div>
</div>