<div class="my-trips-page">
  <div class="section left">
    <div class="calendar-panel">
      <div class="panel-header">Calendar</div>
      <div class="separator"></div>
    </div>
    <div class="stats-panel">
      <div class="panel-header">Your stats</div>
      <div class="separator"></div>
      <div class="stats-content">
        <div class="stat-item">
          <div class="stat-header">
            <span class="stat-label">Trips</span>
            <span class="stat-numbers"
              >{{ userCompletedStats.tripsCount }} /
              {{ userTotalStats.tripsCount }}</span
            >
          </div>
          <mat-progress-bar
            [value]="
              (userCompletedStats.tripsCount /
                (userTotalStats.tripsCount || 1)) *
              100
            "
            color="primary"
          >
          </mat-progress-bar>
        </div>

        <div class="stat-item">
          <div class="stat-header">
            <span class="stat-label">Countries</span>
            <span class="stat-numbers"
              >{{ userCompletedStats.countriesCount }} /
              {{ userTotalStats.countriesCount }}</span
            >
          </div>
          <mat-progress-bar
            [value]="
              (userCompletedStats.countriesCount /
                (userTotalStats.countriesCount || 1)) *
              100
            "
            color="primary"
          >
          </mat-progress-bar>
        </div>

        <div class="stat-item">
          <div class="stat-header">
            <span class="stat-label">Cities</span>
            <span class="stat-numbers"
              >{{ userCompletedStats.citiesCount }} /
              {{ userTotalStats.citiesCount }}</span
            >
          </div>
          <mat-progress-bar
            [value]="
              (userCompletedStats.citiesCount /
                (userTotalStats.citiesCount || 1)) *
              100
            "
            color="primary"
          >
          </mat-progress-bar>
        </div>

        <div class="stat-item">
          <div class="stat-header">
            <span class="stat-label">Waypoints</span>
            <span class="stat-numbers"
              >{{ userCompletedStats.waypointsCount }} /
              {{ userTotalStats.waypointsCount }}</span
            >
          </div>
          <mat-progress-bar
            [value]="
              (userCompletedStats.waypointsCount /
                (userTotalStats.waypointsCount || 1)) *
              100
            "
            color="primary"
          >
          </mat-progress-bar>
        </div>

        <div class="stat-item">
          <div class="stat-header">
            <span class="stat-label">Days</span>
            <span class="stat-numbers"
              >{{ userCompletedStats.daysCount }} /
              {{ userTotalStats.daysCount }}</span
            >
          </div>
          <mat-progress-bar
            [value]="
              (userCompletedStats.daysCount / (userTotalStats.daysCount || 1)) *
              100
            "
            color="primary"
          >
          </mat-progress-bar>
        </div>
      </div>
    </div>
  </div>
  <div class="section right">
    <div class="trips-panel">
      <div class="panel-header">Your Trips</div>
      <div class="separator"></div>
      <div class="options-section">
        <div
          id="filters"
          [ngClass]="{
            filters: areFiltersOpened === false,
            'filters-opened': areFiltersOpened === true
          }"
          (click)="onFiltersClicked($event)"
        >
          Filters
        </div>
      </div>

      @if(areFiltersOpened === true){
      <div class="filters-panel">
        <div class="filter-section">
          <div class="filter-label">Start Date Range</div>
          <div class="filter-content">
            <input type="date" #minDate class="input" />
            <span class="linking-message">to</span>
            <input type="date" #maxDate class="input" />
          </div>
        </div>
        <div class="filter-section">
          <div class="filter-label">Completion Status</div>
          <div class="filter-content">
            <input
              type="radio"
              #allStatus
              id="all"
              name="com_status"
              value="All"
              checked
            />
            <label for="all" class="radio-label">All</label><br />
            <input
              type="radio"
              #completedStatus
              id="completed"
              name="com_status"
              value="Completed"
            />
            <label for="completed" class="radio-label">Completed</label><br />
            <input
              type="radio"
              #notStatus
              id="not"
              name="com_status"
              value="NotCompleted"
            />
            <label for="not" class="radio-label">Not</label>
          </div>
        </div>
        <div class="buttons-section">
          <button class="clear-button" (click)="onClearClicked($event)">
            Clear
          </button>
          <button class="save-button" (click)="onSaveClicked($event)">
            Save
          </button>
        </div>
      </div>
      } @else {
      <div class="panel-content">
        @if (trips.length === 0) {
        <div class="empty-trips-list">
          <p>You don't have any trips yet.</p>
          <p>
            <a routerLink="/trip" class="create-trip-link">Create</a> one now!
          </p>
        </div>
        } @else {
        <div class="trips-list">
          @for (trip of trips; track $index) {
          <div class="trip-button">
            <div class="button-info-container" routerLink="/trip/{{ trip.id }}">
              <span class="button-text-container">
                <mat-icon
                  class="button-icon"
                  fontIcon="directions_bus_filled"
                ></mat-icon>
                <span class="button-text name">{{ trip.title }}</span>
              </span>
              <div class="date-text">
                {{ getFormattedDate(trip.startDate) }}
              </div>
            </div>
            <div class="menu-container" (click)="$event.stopPropagation()">
              <div class="menu-dots">•••</div>
              <div class="dropdown-menu">
                <div
                  class="dropdown-item"
                  id="edit"
                  (click)="completeTrip($event, trip.title, trip.id)"
                >
                  Complete
                </div>
                <div
                  class="dropdown-item"
                  id="delete"
                  (click)="deleteTrip($event, trip.title, trip.id)"
                >
                  Delete
                </div>
              </div>
            </div>
          </div>
          }
        </div>
        }
      </div>
      }
    </div>
  </div>
</div>
