@import "../../../styles.scss";

.sign-in-page-container {
  width: 100%;
  height: 100%;
  min-height: 400px;
  min-width: 700px;
  padding: 10px;
  padding-top: 20px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.illustration-container {
  width: 50%;
  height: 75%;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &#login-illustration {
    background-image: url("../../../assets/illustrations/login-illustration.svg");
  }

  &#register-illustration {
    background-image: url("../../../assets/illustrations/register-illustration.svg");
  }

  @media (max-width: 1024px) {
    width: 0%;
  }
}

.form-container {
  padding: 20px;
  padding-bottom: 0px;
  margin-bottom: 50px;
  width: 50%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1024px) {
    width: 100%;
  }
}

h1 {
  @extend .generic-heading;

  color: $secondary-color;
  font-weight: 500;
  margin-bottom: 30px;
}

.button {
  border: 1px solid $secondary-color;
  border-radius: 20px;
  height: 40px;
  font-family: $primary-font;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

.external-login-button {
  @extend .button;

  width: 40%;
  margin-bottom: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.icon {
  width: 7%;
  height: 70%;
  margin-left: 15%;
  margin-right: 10%;
  background-repeat: no-repeat;
  background-size: contain;

  &#google-icon {
    background-image: url("../../../assets/icons/google-icon.svg");
  }

  &#facebook-icon {
    background-image: url("../../../assets/icons/facebook-icon.svg");
  }
}

.line {
  width: 50%;
  height: 1px;
  margin: 10px 0;
  border-radius: 30px;
  background-color: $secondary-color;
}

.form-section {
  width: 40%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-row-section {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;

  &#remember-me-section {
    flex-direction: row;
    align-items: center;
  }
}

.date-picker {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

label {
  margin-bottom: 5px;
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 600;
  color: $secondary-color;

  &#remember-me-label {
    margin-bottom: 0px;
  }
}

input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid $secondary-color;
  border-radius: 10px;
  background-color: $primary-color;
  font-family: $primary-font;
  font-weight: 500;
  color: $secondary-color;
}

select {
  min-width: 100px;
  height: 30px;
  border: 1px solid $secondary-color;
  border-radius: 10px;
  background-color: $primary-color;
  text-align: center;
  font-family: $primary-font;
  font-size: 90%;
  color: $secondary-color;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

input::placeholder {
  text-align: center;
  font-family: $primary-font;
  font-size: 90%;
  color: $secondary-color;
}

.checkbox {
  width: 15px;
  margin-right: 10px;
}

.forget-password-section {
  margin-top: 5px;
  text-align: end;
  font-family: $primary-font;
  font-size: 80%;
  font-weight: 500;
  color: $secondary-color;
}

.submit-button {
  @extend .button;

  width: 100%;
  margin-top: 10px;
  color: #ffffff; 
  background-color: $secondary-color;
}

.alternative-text {
  margin-top: 20px;
  font-family: $primary-font;
}

.form-section > .alternative-text {
  font-size: 14px;
}

.alternative-text > span {
  color: $secondary-color;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.text-danger {
  margin-top: 5px;
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 500;
  color: red;
}
