<div class="sign-in-page-container" *ngIf="isLogin; else registerContainer">
    <div class="form-container">
        <h1>Log in</h1>
        
        <div class="external-login-button"><app-svg filePath="@assets/icons/google-icon.svg"  [width]="50" [height]=50></app-svg>Continue with Google</div>
        <div class="external-login-button">Continue with Facebook</div>
        <div class="line"></div>
        <form  class="form-section" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
            <div class="form-row-section">
                <label class="form-label">Email address</label>
                <input type="input" formControlName="email" placeholder="Enter your email address">
            </div>
            <div class="form-row-section">
                <label class="form-label">Password</label>
                <input type="password" formControlName="password"  placeholder="Enter your password">
               
            </div>
            <a href="" class="forget-password-section">Forget your password</a>
            <!-- Add checkbox remember me-->
            <button type="submit" class="submit-button">Log in</button>
        </form>
        <p class="alternative-text">Don't have an account? <a href="" (click)="setIsLogin()">Sign up instead</a></p>
    </div>
    <div class="illustration-container">
        salut
    </div>
</div>

<ng-template #registerContainer>
    <div class="sign-in-page-container">
        <div class="form-container">
            <h1>Sign up</h1>
        </div>
        <div class="illustration-container">
        </div>
    </div>
</ng-template>