@import "../../panel.component.scss";

.info-section {
  width: 100%;
  max-width: 400px;
  padding-left: 2px;
  margin: 10px auto;
  margin-bottom: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  .info-content {
    text-wrap: break-word;
    font-size: 12px;
    color: $secondary-color;
  }

  .button-icon {
    margin-right: 2px;
    color: $secondary-color;
    min-width: 24px;
  }
}