<nav>
  <div class="logo-container">
    <h1 class="generic-heading">Wanderer</h1>
  </div>
  @if (isLoggedIn === false || userDetails === null) {

  <div class="navigation-container">
    <button class="generic-button navigation-button" routerLink="">Home</button>
    <button class="generic-button navigation-button">About Us</button>
    <button class="generic-button navigation-button">Plan A Trip</button>
    <button class="generic-button sign-in-button" routerLink="/sign-in">
      Sign In
    </button>
  </div>
  } @else {
  <div class="navigation-container logged">
    <div class="user-info">
      <div class="user-avatar" *ngIf="userDetails?.avatarUrl">
        <img [src]="userDetails!.avatarUrl" [alt]="userDetails!.profileName" />
      </div>
      <div class="user-avatar fallback" *ngIf="!userDetails?.avatarUrl">
        {{
          userDetails!.profileName !== null
            ? userDetails!.profileName.charAt(0)
            : ""
        }}
      </div>
      <div class="user-options">
        <div class="username" routerLink="/profile/{{ userDetails!.id }}">
          {{ userDetails!.profileName }}
        </div>
        <div class="dropdown-menu">
          <div class="menu-option" routerLink="/account/{{ userDetails!.id }}">
            Edit Profile
          </div>
          <div class="menu-option" (click)="onLogoutClicked()">Logout</div>
        </div>
      </div>
    </div>
  </div>
  }
</nav>
