@import "../../../../../styles.scss";

.create-trip-panel {
  position: absolute;
  top: 0;
  right: 10px;
  min-width: 100px;
  width: 300px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.panel-header {
  width: 100%;
  height: 30px;
  border: 2px solid $primary-color;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top: 0px hidden;
  background-color: $secondary-color;
}

.city-list-panel {
  width: 90%;
  height: calc(100% - 30px);
  padding: 10px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: $forth-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .option-button {
    width: 95%;
    height: 40px;
    margin-top: 5px;
    padding: 0px 5px;
    border-radius: 10px;
    background-color: $primary-color;
    border: 2px solid $primary-color;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:first-of-type {
      margin-top: 0px;
    }

    &:hover {
      background-color: $primary-color-highlight;
      border-color: $primary-color-highlight;
      transition: 0.2s;
    }

    &:active {
      border-color: $secondary-color;
      transition: 0.1s;
    }

    .button-icon {
      height: 20px;
      width: 20px;
      margin-left: 5px;
      background-size: contain;

      &#city-icon {
        background-image: url("../../../../../assets/icons/city-icon.svg");
      }

      &#add-icon {
        background-image: url("../../../../../assets/icons/add-icon.svg");
      }
    }
    
    .button-text-container {
      display: flex;
      align-items: center;
      max-width: 60%;
    }

    .button-text {
      margin-left: 5px;
      font-family: $primary-font;
      font-weight: 600;
      font-size: 12px;
      color: $secondary-color;
    }

    .date-text {
      margin-left: 5px;
      font-family: $primary-font;
      font-weight: 600;
      font-size: 12px;
      color: $secondary-color;
    }
  }
}

.add-city-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-row-section {
  width: 75%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;

  &.number {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

label {
  margin-left: 10px;
  margin-bottom: 5px;
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 600;
  color: $secondary-color;

  &.number {
    margin-bottom: 0px;
  }
}

input {
  width: 100%;
  height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid $secondary-color;
  border-radius: 10px;
  background-color: $primary-color;
  font-family: $primary-font;
  font-weight: 500;
  color: $secondary-color;

  &.number {
    padding-right: 0px;
    width: 25%;
    text-align: right;
  }
}

.pac-container {
  z-index: 100;
  position: absolute;
}

.buttons-section {
  width: 75%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.submit-button {
  height: 30px;
  width: 40%;
  color: $primary-color;
  background-color: $secondary-color;
  border-radius: 20px;
  font-family: $primary-font;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    transition: 0.2s;
    background-color: $secondary-color-highlight;
  }
}

.discard-button {
  height: 30px;
  width: 40%;
  color: $primary-color;
  background-color: $third-color;
  border-radius: 20px;
  font-family: $primary-font;
  font-size: 1em;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    transition: 0.2s;
    background-color: $third-color-highlight;
  }
}
