<div class="create-trip-panel">
  <div class="panel-header"></div>
  <div class="city-list-panel">
    @switch (currentView) {

    <!-- Cities List View -->

    @case (PanelView.CitiesListView) {
    <div
      *ngFor="let city of cityList; let i = index"
      class="option-button"
      (click)="onCityClick(city)"
    >
    <div class="button-info-container">
      <span class="button-text-container">
        <div class="button-icon" id="city-icon"></div>
        <span class="button-text name">{{ city.name }}</span>
      </span>
      <div class="date-text">
        {{
          city.arrivalDate?.toLocaleDateString("en-US", {
            day: "numeric",
            month: "short"
          })
        }}
        ({{ city.numberOfNights }}
        {{ city.numberOfNights === 1 ? "night" : "nights" }})
      </div>
    </div>
      <div class="menu-container">
        <div
          class="menu-dots"
        >
          •••
        </div>
        <div
          class="dropdown-menu"
        >
          <div class="dropdown-item" id="edit">Edit</div>
          <div class="dropdown-item" id="delete">Delete</div>
        </div>
      </div>
    </div>

    <div class="option-button" (click)="setCurrentView(PanelView.AddCityView)">
      <span class="button-text-container">
        <div class="button-icon" id="add-icon"></div>
        <span class="button-text">Add new city</span>
      </span>
    </div>
    }

    <!-- Add City View -->

    @case (PanelView.AddCityView) {
    <form
      class="add-form"
      [formGroup]="addCityForm"
      (ngSubmit)="onAddCitySubmit()"
    >
      <div class="form-row-section">
        <label class="form-label">City Name</label>
        <input
          #cityName
          type="text"
          formControlName="cityName"
          placeholder="Enter the city name"
        />
        <small
          *ngIf="
            addCityForm.get('cityName')?.hasError('required') &&
            addCityForm.get('cityName')?.touched
          "
          class="text-danger"
        >
          City Name cannot be empty.
        </small>
        <small
          *ngIf="
            addCityForm.get('cityName')?.hasError('noResult') &&
            addCityForm.get('cityName')?.touched
          "
          class="text-danger"
        >
          No results found. Please select a valid city from the list.
        </small>
      </div>
      <div class="form-row-section number">
        <label class="form-label number">No. of Nights</label>
        <input
          class="number"
          type="number"
          formControlName="numberOfNights"
          min="0"
          max="100"
        />
      </div>
      <div class="buttons-section">
        <div
          class="discard-button"
          (click)="setCurrentView(PanelView.CitiesListView)"
        >
          Discard
        </div>
        <button type="submit" class="submit-button">Add city</button>
      </div>
    </form>
    }

    <!-- Waypoints List View -->

    @case (PanelView.WaypointsListView) {
    <div class="day-navigation">
      <button
        [class.hidden]="currentDayIndex === 0"
        (click)="navigateToDay(currentDayIndex - 1)"
        class="arrow"
      >
        &#9664;
      </button>
      <h3 class="day-header">
        {{ getDateForDay(selectedCity!.arrivalDate!, currentDayIndex) }}
      </h3>
      <button
        [class.hidden]="
          currentDayIndex === (selectedCity?.waypoints)!.length - 1
        "
        (click)="navigateToDay(currentDayIndex + 1)"
        class="arrow"
      >
        &#9654;
      </button>
    </div>
    <div
      *ngFor="let waypoint of selectedCity!.waypoints[currentDayIndex]"
      class="option-button"
    >
      <span class="button-text-container">
        <div class="button-icon" id="city-icon"></div>
        <span class="button-text name">{{ waypoint.name }}</span>
      </span>
      <div class="date-text">
        {{ waypoint.startTime }} - {{ waypoint.endTime }}
      </div>
    </div>
    <div
      class="option-button"
      (click)="setCurrentView(PanelView.AddWaypointView)"
    >
      <span class="button-text-container">
        <div class="button-icon" id="add-icon"></div>
        <span class="button-text">Add new waypoint</span>
      </span>
    </div>
    }

    <!-- Add Waypoint View -->

    @case (PanelView.AddWaypointView) {
    <form
      class="add-form"
      [formGroup]="addWaypointForm"
      (ngSubmit)="onAddWaypointSubmit()"
    >
      <div class="form-row-section">
        <label class="form-label">Waypoint Name</label>
        <input
          #waypointName
          type="text"
          formControlName="waypointName"
          placeholder="Enter the waypoint name"
        />
        <small
          *ngIf="
            addWaypointForm.get('waypointName')?.hasError('required') &&
            addWaypointForm.get('waypointName')?.touched
          "
          class="text-danger"
        >
          Waypoint Name cannot be empty.
        </small>
        <small
          *ngIf="addWaypointForm.get('waypointName')?.hasError('noResult')"
          class="text-danger"
        >
          No results found. Please select a valid waypoint from the list.
        </small>
        <small
          *ngIf="
            addWaypointForm.get('waypointName')?.hasError('unsupportedType') &&
            addWaypointForm.get('waypointName')?.touched
          "
          class="text-danger"
        >
          The waypoint selected is not a food location, an attraction or a
          recreational place.
        </small>
      </div>
      <div class="form-row-section number">
        <label class="form-label number">Start Time</label>
        <span class="time-counter">
          <input
            class="number"
            type="number"
            formControlName="startHour"
            min="0"
            max="23"
            (input)="formatTwoDigitsInput($event, 'hour')"
          />
          h
          <input
            class="number"
            type="number"
            formControlName="startMinutes"
            min="0"
            max="59"
            (input)="formatTwoDigitsInput($event, 'minutes')"
          />
          m
        </span>
        <!-- TODO: Add validations for the number of hours and default 1 -->
      </div>
      <div class="form-row-section number">
        <label class="form-label number">End Time</label>
        <span class="time-counter">
          <input
            class="number"
            type="number"
            formControlName="endHour"
            min="0"
            max="23"
            (input)="formatTwoDigitsInput($event, 'hour')"
          />
          h
          <input
            class="number"
            type="number"
            formControlName="endMinutes"
            min="0"
            max="59"
            (input)="formatTwoDigitsInput($event, 'minutes')"
          />
          m
        </span>
        <!-- TODO: Add validations for the number of hours and default 1 -->
      </div>
      <div class="form-row-section">
        <small
          *ngIf="addWaypointForm.hasError('endTimeEarlier')"
          class="text-danger"
        >
          End time must be later than the start time.
        </small>
      </div>
      <div class="buttons-section">
        <div
          class="discard-button"
          (click)="setCurrentView(PanelView.WaypointsListView)"
        >
          Discard
        </div>
        <button type="submit" class="submit-button">Add</button>
      </div>
    </form>
    } }
  </div>
</div>
