<div class="create-trip-panel">
  <div class="panel-header">
    <div class="trip-title">
      <h2>Trip Title</h2>
    </div>
    <div class="trip-options">
      <span>Save</span>
      <span>Edit</span>
      <span>Description</span>
    </div>
  </div>
  <div class="panel-content">
    @switch (currentView) {

    <!-- Cities List View -->

    @case (PanelView.CitiesListView) {
    <app-city-list
      [setCurrentView]="setCurrentView.bind(this)"
      [openDeleteModal]="openDeleteModal.bind(this)"
      style="width: 100%"
    >
    </app-city-list>
    }

    <!-- City View -->

    @case (PanelView.CityView) {
    <app-city-form
      [onDiscardClick]="onDiscardClick.bind(this)"
      [setCurrentView]="setCurrentView.bind(this)"
      [preventEnterSubmit]="preventEnterSubmit.bind(this)"
      style="width: 100%"
    >
      >
    </app-city-form>
    }

    <!-- Waypoints List View -->

    @case (PanelView.WaypointsListView) {
    <app-waypoint-list
      [setCurrentView]="setCurrentView.bind(this)"
      [openDeleteModal]="openDeleteModal.bind(this)"
      style="width: 100%"
    >
    </app-waypoint-list>
    }

    <!-- Waypoint View -->

    @case (PanelView.WaypointView) {
    <app-waypoint-form
      [onDiscardClick]="onDiscardClick.bind(this)"
      [setCurrentView]="setCurrentView.bind(this)"
      [preventEnterSubmit]="preventEnterSubmit.bind(this)"
      style="width: 100%"
    ></app-waypoint-form>
    } }
  </div>
</div>
