<div class="map-container">
  <app-map
    [options]="mapOptions"
    [cityList]="cityList"
    [selectedCity]="selectedCityDto"
    [currentDayIndex]="currentDayIndex"
    (cityToAdd)="onCityToAdd($event)"
  ></app-map>
  <app-create-trip-modal
    (viewChanged)="onViewChanged($event)"
    (tripStarted)="onTripStarted($event)"
    *ngIf="modalClosed === false"
  ></app-create-trip-modal>
</div>
<app-city-list-panel
  [cityToAdd]="cityToAdd"
  [cityList]="cityList"
  [startDate]="startDate"
  [viewChanged]="panelViewToSet"
  (citySubmitted)="onCitySubmitted($event)"
  (waypointSubmitted)="onWaypointSubmitted($event)"
  (citySelected)="onCitySelected($event)"
  (dayChanged)="onDayChanged($event)"
  *ngIf="modalClosed === true"
></app-city-list-panel>
<div class="exit-city-button-container" *ngIf="selectedCityDto">
  <button class="exit-city-button" (click)="onExitCityView()">Exit City View</button>
</div>