<div class="post-container">
  <div class="post-header">
    <div class="user-info">
      <div class="avatar" *ngIf="post?.userInfo?.avatarUrl">
        <img
          [src]="post.userInfo.avatarUrl"
          [alt]="post.userInfo.profileName"
        />
      </div>
      <div class="avatar fallback" *ngIf="!post?.userInfo?.avatarUrl">
        {{ getFirstLetterOf(post.userInfo.profileName) }}
      </div>
      <div class="user-details">
        <div class="username">
          <a routerLink="/profile/{{ post.ownerId }}">{{
            post.userInfo.profileName
          }}</a>
        </div>
        <div class="post-date">{{ formatDate(post.createdAt) }}</div>
      </div>
    </div>
  </div>
  <div class="post-content">
    <div *ngIf="!showComments">
      <div class="post-title">
        {{ post.title }}
      </div>
      <div class="post-description">
        {{ post.description }}
      </div>
      <div class="images-gallery">
        @for(image of post.images; track image.imageUrl) {
        <app-image-view
          [imageInfo]="image"
          [width]="'100px'"
          [height]="'100px'"
          [borderRadius]="'20px'"
        ></app-image-view>
        }
      </div>
    </div>
    <div *ngIf="showComments" class="comments-view">
      <div class="comments-list">
        <div
          *ngIf="!postComments || postComments.length === 0"
          class="no-comments"
        >
          No comments yet.
        </div>
        <div *ngFor="let comment of postComments" class="comment-item">
          <div class="comment-header">
            <div class="comment-avatar" *ngIf="comment.avatarUrl">
              <img [src]="comment.avatarUrl" [alt]="comment.profileName" />
            </div>
            <div class="comment-avatar fallback" *ngIf="!comment.avatarUrl">
              {{ getFirstLetterOf(comment.profileName) }}
            </div>
            <div class="comment-user-info">
              <div class="comment-username">
                <a routerLink="/profile/{{ comment.userId }}">{{
                  comment.profileName
                }}</a>
              </div>
              <div class="comment-date">
                {{ formatDate(comment.createdAt) }}
              </div>
            </div>
          </div>
          <div class="comment-content">{{ comment.content }}</div>
        </div>
      </div>
      <div class="add-comment">
        <div class="comment-input-container">
          <textarea
            #commentInput
            placeholder="Add a comment..."
            rows="2"
          ></textarea>
          <button
            class="post-comment-btn"
            (click)="addComment(commentInput.value); commentInput.value = ''"
          >
            Post
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="post-footer">
    <div class="post-actions">
      <button mat-icon-button (click)="toggleLike(post)">
        <mat-icon
          [fontIcon]="post.isLiked ? 'favorite' : 'favorite_border'"
        ></mat-icon>
      </button>
      <span>{{ post.likesCount }} likes</span>
      <button mat-icon-button (click)="toggleComments()">
        <mat-icon fontIcon="comment"></mat-icon>
      </button>
      <span>{{ post.commentsCount }} comments</span>
    </div>
  </div>
</div>
