<div
  *ngFor="let cityVisit of cityVisits; let i = index"
  class="option-button"
  (click)="onCityClick(cityVisit)"
>
  <div class="button-info-container">
    <span class="button-text-container">
      <div class="button-icon" id="city-icon"></div>
      <span class="button-text name">{{ cityVisit.city }}</span>
    </span>
    <div class="date-text">
      {{ getFormattedDate(cityVisit.startDate) }}
      ({{ cityVisit.numberOfNights }}
      {{ cityVisit.numberOfNights === 1 ? "night" : "nights" }})
    </div>
  </div>
  <div class="menu-container" (click)="$event.stopPropagation()">
    <div class="menu-dots">•••</div>
    <div class="dropdown-menu">
      <div class="dropdown-item" id="edit" (click)="onEditClick(cityVisit)">
        Edit
      </div>
      <div class="dropdown-item" id="delete" (click)="onDeleteClick(cityVisit)">
        Delete
      </div>
    </div>
  </div>
</div>

<div class="option-button" (click)="setCurrentView(PanelView.CityView)">
  <span class="button-text-container">
    <div class="button-icon" id="add-icon"></div>
    <span class="button-text">Add new city</span>
  </span>
</div>
